$tpDatepickerBrandColorGreen: #eeeeee;
$tpDatepickerSecondColorGreen: #95c21d;
$tpDatepickerHolidaysColorGreen: #005500;

$tpDatepickerBrandColorBright: #FF5a00;
$tpDatepickerSecondColorBright: #3dc0c4;
$tpDatepickerBackgroundColorBright: #FFFFFF;

$tpDatepickerBrandColorPink: #FF5a00;
$tpDatepickerSecondColorPink: #ef2d5a;
$tpDatepickerBackgroundColorPink: #FFFFFF;

$tpDatepickerBrandColorYellow: #FF5a00;
$tpDatepickerSecondColorYellow: #f1d600;
$tpDatepickerBackgroundColorYellow: #000000;

$tpDatepickerBrandColorBlue: #FF5a00;
$tpDatepickerSecondColorBlue: #f1d600;
$tpDatepickerHolidaysColorBlue: #000000;

$tpDatepickerBrandColorDark: #FF5a00;
$tpDatepickerSecondColorDark: #f1d600;
$tpDatepickerHolidaysColorDark: #000000;
