.tp-datepicker-icon {
    &.tp-datepicker-icon-arrow-theme--green > svg > path {
        fill: #78BA43;
    }
    &.tp-datepicker-icon-arrow-theme--yellow > svg > path {
        fill: #f1d600;
    }
    &.tp-datepicker-icon-arrow-theme--pink > svg > path {
        fill: #ef2d5a;
    }
    &.tp-datepicker-icon-arrow-theme--bright > svg > path {
        fill: #3dc0c4;
    }
    &.tp-datepicker-icon-arrow-theme--dark > svg > path {
        fill: #f1d600;
    }
    &.tp-datepicker-icon-arrow-theme--blue > svg > path {
        fill: #f1d600;
    }
}
